body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login,
.image {
    min-height: 100vh
}

.login{
  background-color: #b894e5;
  opacity: 0.8;
  background-image:  radial-gradient(#dc3545 2px, transparent 2px), radial-gradient(#fee5e8 2px, #b894e5 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
  color: #dc3545;
}

.bg-image {
    background-image: url('https://www.consalud.es/estetic/uploads/s1/17/03/13/5/alimentacion-saludable-foto-freepik.jpeg');
    background-size: cover;
    background-position: center center;
}