body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login,
.image {
    min-height: 100vh
}

.bg-image {
    background-image: url('https://www.consalud.es/estetic/uploads/s1/17/03/13/5/alimentacion-saludable-foto-freepik.jpeg');
    background-size: cover;
    background-position: center center
}